@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

::-moz-selection {
  background: #eee;
}

::selection {
  background: #eee;
}

body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
ol {
  color: #363636;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.container {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-evenly;
  min-height: 100vh;
}

.title {
  font-weight: bold;
}

.nobot {
  margin-bottom: 0;
}

.txt {
  text-align: justify;
}

.box {
  margin: 0.5rem;
}